@import url("variables.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

section {
    padding:0 var(--padding-l);
}

#app {
    width: 375px;
    background: var(--primary-bg);
    font-family: var(--ff-assistant);
}

.upper {
    text-transform: uppercase;
}

.paragraph {
    font-size: var(--fs-xxs);
    color: var(--secondary-text-color);
    margin-top: var(--margin-s);
}

.direction__paragraph {
    font-size: calc(var(--fs-xxs) - 2px);
}

.title {
    font-size: var(--fs-m);
    font-family: var(--ff-kaisei);
    color: var(--primary-text-color);
    margin-top: var(--margin-xl);
}

.sub-title {
    margin-top: var(--margin-xl);
}

.image {
    width: 296px;
    margin-top: var(--margin-m);
}

.header {
    padding-top: var(--margin-l);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line {
    width: 18px;
    height: 2px;
    background: var(--primary-text-color);
    margin-top: 3px;
}

.preview {
    background: url("https://github.com/katas8n/ballet-school/blob/master/public/images/backgrounds/background-1.png?raw=true");
    background-position: center;
    background-size: 1000px;
    height: 476px;
    color: var(--primary-text-color);
}

.preview__title {
    margin-top: var(--margin-xxl);
    font-family: var(--ff-kaisei);
    font-size: var(--fs-l);
}

.preview__paragraph {
    margin-top: var(--margin-xs);
}

.player__bg {
    width: 375px;
}

.player__play {
    width: 20px;
    height: 20px;
    position: relative;
    top : -80.5px;
    left : 50%;
    transform: translate(50%,-10px);
}

.about-us__title {
    margin-top: 40px;
}

.mt-20 {
    margin-top: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 2;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover nav {
  background-color: #3e8e41;}

@media (min-width: 800px) {
    .preview__title {
    margin-top: 100px;
    font-size: 80px;
}
    #app {
    width: 1512px;
}
    .player__bg {
    width: 1512px;
    height: 599px;}

    .about-us__title {
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 70px;
}
    .paragraph {
    font-size: 18px;
    width: 50%;}

    .image {
    width: 1256px;
    height: 469px;
    margin-top: 30px;
    margin-bottom: 120px;
}
    .title {
    font-size: 60px;}

    .mt-20 {
        font-size: 24px;
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .direction__paragraph {
    font-size: 18px;
}
    .direction__flex {
        display: flex;
        justify-content: space-around;
        margin-right: 128px;
    }
    .image-1 {
        width: 259px;
        height: 92px;
        position: relative;
        top: 50px;
    }
    nav {
        display: none;
}
    .dropdown {
        display: flex;
        justify-content: end;}

    .dropdown-content a {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
}
    .dropdown-content {
        display: flex;
        background-color: inherit;
        box-shadow: none;}

    .dropdown:hover .dropdown-content {
        display: flex;
}
}